div {
    width: 100px;
    height: fit-content;
    background-color: orange;
    text-align: center;
    font-size: xx-large;
    border: 2px solid red;
    color: white;
    margin: 0;
}

.grid-container {
    border: 2px solid green;
    
    
}
/* display: grid;
    grid-gap: 5px; */